Repository soksanichenko/discord-meow-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, autoflake

black:
  name: Black
  entry: black
  args:
  - -S
  language: python

pylint:
  name: PyLint
  entry: pylint
  language: python
  args:
  - --disable
  - R0903

autoflake:
  name: Remove unused imports
  entry: autoflake
  language: python
  args:
  - --in-place
  - --remove-all-unused-imports

- Send timestamp in two messages: rendered and non-rendered time
  sources/lib/commands/get_timestamp.py
Due: black, pylint, autoflake

- Send timestamp in two messages: rendered and non-rendered time
  sources/scripts/main.py
Due: black, pylint, autoflake

- Typo
  sources/scripts/main.py
Due: black, pylint, autoflake

- New command `/info`: information about a Discord server
  sources/scripts/main.py
Due: black, pylint, autoflake

Create LICENSE
  LICENSE
Due: none

- New command `/list-members`: information about a role members
  sources/lib/commands/get_timestamp.py
  sources/scripts/main.py
Due: black, pylint, autoflake

- Update dependencies
  requirements/prod.txt
Due: none

- Update dev dependencies
  .github/workflows/pylint.yml
  requirements/dev.txt
  requirements/prod.txt
Due: none

- Update all prod dependencies
  requirements/prod.txt
Due: none

- Make an answer of command `/list-members` ephemeral
  sources/scripts/main.py
Due: black, pylint, autoflake

- The fixer for TikTok
  sources/lib/on_message/domains_fixer.py
Due: black, pylint, autoflake

- Old GH pipeline is removed - PostgreSQL container is updated from 16 to 17 version - Bot container is updated: - From AL9 to AL10 - From Py3.9 to Py3.12 - New feature `auto voice channel status`
  .github/workflows/pylint.yml
  .pre-commit-config.yaml
  ansible/roles/deploy_bot_container/tasks/docker.yml
  ansible/roles/deploy_bot_container/templates/Dockerfile.j2
  requirements/dev.txt
  requirements/prod.txt
  sources/lib/on_message/domains_fixer.py
  sources/scripts/main.py
Due: black, pylint, autoflake

- Remove using deprecated properties
  sources/lib/on_message/domains_fixer.py
Due: black, pylint, autoflake

Refactor architecture: split commands into Cogs, fix DB layer issues
  dev.sh
  requirements/prod.txt
  sources/lib/cogs/__init__.py
  sources/lib/cogs/admin.py
  sources/lib/cogs/guild.py
  sources/lib/cogs/messages.py
  sources/lib/cogs/user.py
  sources/lib/cogs/voice.py
  sources/lib/commands/utils.py
  sources/lib/core.py
  sources/lib/db/__init__.py
  sources/lib/db/crud/base.py
  sources/lib/db/models.py
  sources/lib/db/operations/__init__.py
  sources/lib/db/operations/guilds.py
  sources/lib/db/operations/users.py
  sources/lib/db/utils.py
  sources/scripts/main.py
  sources/static/avatar.gif.base64
Due: black, pylint, autoflake

Refactor ansible deploy and extend domains fixer
  ansible/inventories/zelgray.work/group_vars/all.yml
  ansible/roles/deploy_bot_container/defaults/main/docker.yml
  ansible/roles/deploy_bot_container/tasks/docker.yml
  sources/lib/on_message/domains_fixer.py
Due: black, pylint, autoflake

- log driver for the container is changed to journald
  ansible/roles/deploy_bot_container/tasks/docker.yml
Due: none

Add README and CLAUDE.md project documentation
  CLAUDE.md
  README.md
Due: none

Add guild-scoped domain fixer with M2M storage and Discord commands
  CLAUDE.md
  sources/lib/cogs/domain_fixer.py
  sources/lib/cogs/guild.py
  sources/lib/cogs/messages.py
  sources/lib/db/alembic/versions/a0b1c2d3e4f5_create_core_tables.py
  sources/lib/db/alembic/versions/b3c4d5e6f7a8_add_domain_fixers_table.py
  sources/lib/db/alembic/versions/c4d5e6f7a8b9_add_guild_id_to_domain_fixers.py
  sources/lib/db/alembic/versions/d5e6f7a8b9c0_many_to_many_domain_fixers.py
  sources/lib/db/models.py
  sources/lib/db/operations/domain_fixers.py
  sources/lib/db/utils.py
  sources/lib/on_message/domains_fixer.py
  sources/scripts/main.py
Due: black, pylint, autoflake

Restart bot container automatically when sources change
  ansible/roles/deploy_bot_container/tasks/docker.yml
Due: none

Move prod.txt to sources/ and update dependencies
  CLAUDE.md
  README.md
  ansible/roles/deploy_bot_container/tasks/docker.yml
  requirements/prod.txt
  sources/prod.txt
Due: none

Clean up guild data when bot is kicked or leaves a server
  sources/lib/cogs/guild.py
  sources/lib/db/operations/guilds.py
Due: black, pylint, autoflake

Add message reminders feature with reschedule support
  .gitignore
  sources/lib/cogs/reminders.py
  sources/lib/cogs/user.py
  sources/lib/commands/utils.py
  sources/lib/db/alembic/versions/e6f7a8b9c0d1_add_reminders_table.py
  sources/lib/db/models.py
  sources/lib/db/operations/reminders.py
  sources/lib/scheduler.py
  sources/lib/views/__init__.py
  sources/lib/views/reminders.py
  sources/prod.txt
  sources/scripts/main.py
Due: black, pylint, autoflake

fix(voice): fix type annotations and null safety issues
  .gitignore
  sources/lib/cogs/voice.py
  sources/lib/views/__pycache__/__init__.cpython-312.pyc
  sources/lib/views/__pycache__/reminders.cpython-312.pyc
Due: black, pylint, autoflake

chore: remove accidentally committed .pyc files
  sources/lib/views/__pycache__/__init__.cpython-312.pyc
  sources/lib/views/__pycache__/reminders.cpython-312.pyc
Due: none

feat(birthdays): add per-server birthday tracking and announcements
  ansible/inventories/zelgray.work/group_vars/all.yml
  ansible/roles/deploy_bot_container/defaults/main/docker.yml
  ansible/roles/deploy_bot_container/tasks/docker.yml
  install_dependencies.sh
  requirements.yml
  sources/config.py
  sources/lib/cogs/birthdays.py
  sources/lib/cogs/guild.py
  sources/lib/cogs/reminders.py
  sources/lib/cogs/user.py
  sources/lib/db/alembic/versions/a8b9c0d1e2f3_add_guild_settings_timezone.py
  sources/lib/db/alembic/versions/b9c0d1e2f3a4_add_birthday_message_image.py
  sources/lib/db/alembic/versions/f7a8b9c0d1e2_add_birthday_tables.py
  sources/lib/db/models.py
  sources/lib/db/operations/birthdays.py
  sources/prod.txt
  sources/scripts/main.py
Due: black, pylint, autoflake

feat(music-links): add cross-platform music link conversion
  ansible/inventories/zelgray.work/group_vars/all.yml
  ansible/roles/deploy_bot_container/tasks/docker.yml
  sources/config.py
  sources/lib/cogs/music_links.py
  sources/lib/db/alembic/versions/c0d1e2f3a4b5_add_music_links_channels.py
  sources/lib/db/models.py
  sources/lib/db/operations/music_links.py
  sources/prod.txt
  sources/scripts/main.py
Due: black, pylint, autoflake

docs: update CLAUDE.md to reflect current project state
  CLAUDE.md
  sources/lib/cogs/music_links.py
Due: black, pylint, autoflake

chore(music-player): remove music player feature
  ansible/inventories/zelgray.work/group_vars/all.yml
  sources/config.py
  sources/lib/cogs/music_player.py
  sources/lib/db/alembic/versions/a1b2c3d4e5f6_drop_guild_music_player_settings.py
  sources/lib/db/alembic/versions/d1e2f3a4b5c6_add_guild_music_player_settings.py
  sources/lib/db/alembic/versions/e2f3a4b5c6d7_add_random_order_to_music_player_settings.py
  sources/lib/db/models.py
  sources/lib/db/operations/music_player.py
  sources/scripts/main.py
Due: black, pylint, autoflake

ci: add GitHub Actions deploy, Dependabot, and ruff format check
  .github/dependabot.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  ansible/inventories/zelgray.work/hosts.yml
  ansible/roles/deploy_bot_container/tasks/docker.yml
  ansible/roles/deploy_bot_container/templates/Dockerfile.j2
  sources/requirements.txt
Due: none

style: apply ruff formatting to all source files
  sources/lib/cogs/birthdays.py
  sources/lib/cogs/domain_fixer.py
  sources/lib/cogs/guild.py
  sources/lib/cogs/music_links.py
  sources/lib/cogs/reminders.py
  sources/lib/cogs/user.py
  sources/lib/cogs/voice.py
  sources/lib/commands/utils.py
  sources/lib/db/alembic/versions/a1b2c3d4e5f6_drop_guild_music_player_settings.py
  sources/lib/db/alembic/versions/b3c4d5e6f7a8_add_domain_fixers_table.py
  sources/lib/db/alembic/versions/b9c0d1e2f3a4_add_birthday_message_image.py
  sources/lib/db/alembic/versions/c4d5e6f7a8b9_add_guild_id_to_domain_fixers.py
  sources/lib/db/alembic/versions/d5e6f7a8b9c0_many_to_many_domain_fixers.py
  sources/lib/db/alembic/versions/f7a8b9c0d1e2_add_birthday_tables.py
  sources/lib/db/models.py
  sources/lib/db/operations/birthdays.py
  sources/lib/db/operations/domain_fixers.py
  sources/lib/scheduler.py
  sources/lib/spotify.py
  sources/lib/views/reminders.py
Due: black, pylint, autoflake

chore(deps): remove yt-dlp unused after music player removal
  sources/requirements.txt
Due: none

chore(deps): remove discord.py voice extra, no audio streaming needed
  sources/requirements.txt
Due: none

chore(deps): replace psycopg2 and asyncpg with psycopg3
  sources/config.py
  sources/requirements.txt
Due: black, pylint, autoflake

ci(deploy): add concurrency limit to prevent parallel deploys
  .github/workflows/deploy.yml
Due: none

ci(deploy): install Ansible collections from requirements.yml
  .github/workflows/deploy.yml
  ansible/requirements.yml
Due: none

ci(deploy): pass BWS_BASE_URL env var for Bitwarden EU server
  .github/workflows/deploy.yml
Due: none

fix(migrations): correct down_revision in drop music player migration
  sources/lib/db/alembic/versions/a1b2c3d4e5f6_drop_guild_music_player_settings.py
Due: black, autoflake

Path conditions:
  black: any of: \.py$
  pylint: any of: \.py$, but not: .*/alembic/versions/.*
  autoflake: any of: \.py$
